{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/container-css.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/department.js') }}"></script>

{% endblock %}
{% block body %}
    <div class="container-xl">
        {{ form (updateClasse) }}
    </div>

{% endblock %}

{% block title %}

{% endblock %}